#lightbox{
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
    border-radius: 50%;
}
#lightbox:target{
    height: 30%;
    width: 30%;
    padding: 10%;
    top: 25%;
    left: 25%;
    background-color: red;
    font-size: xx-large;
}